/* Header code */
.header {
  position: relative;
}
.container {
  background-color: var(--main-color);
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.text {
  flex: 1;
  text-align: center;
}

.divider {
  text-align: center;
  height: 1px;
  background-color: white;
  margin: 0 18rem;
}

.text p {
  margin: 1rem 2rem 1rem 2rem;
  font-family: "Noto Kufi Arabic";
  color: white;
  font-size: 20px;
  position: relative;
}

.text h3 {
  margin: 2rem 0rem 2rem 0rem;
  line-height: 180%;
  font-family: "Noto Kufi Arabic";
  color: white;
  font-size: 2.1vw;
  font-weight: lighter;
  letter-spacing: 1px;
}
.text h1 {
  margin: 0rem 2rem 0rem 2rem;
  font-family: "Noto Kufi Arabic";
  color: white;
  font-size: 4vw;
  margin: 0;
}

.image img {
  margin-right: 5rem;
  position: relative;
  width: auto;
}

.image::before {
  content: "";
  position: absolute;
  bottom: 10rem;
  width: 565px;
  height: 1px;
  background-color: white;
}

.submit {
  border: 0;
  border-radius: 91px;
  background: var(--second-color);
  width: 200px;
  text-align: center;
  height: 50px;
  margin-top: 20px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.submit:hover {
  background-color: #ba6d7b;
  color: var(--second-color);
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    display: none;
  }

  .form-container {
    width: 18rem;
  }

  .divider {
    text-align: center;
    height: 1px;
    background-color: white;
    margin: 0 5rem;
  }

  .text p {
    margin: 1rem 2rem 1rem 2rem;
    font-family: "Noto Kufi Arabic";
    color: white;
    font-size: 3vw;
    position: relative;
  }

  .text h3 {
    margin: 2rem 2rem 2rem 2rem;
    line-height: 180%;
    font-family: "Noto Kufi Arabic";
    color: white;
    font-size: 4vw;
    font-weight: lighter;
    letter-spacing: 1px;
  }
  .text h1 {
    margin: 0rem 2rem 0rem 2rem;
    font-family: "Noto Kufi Arabic";
    color: white;
    font-size: 10vw;
    margin: 0;
    /* letter-spacing: 3px; */
  }
}
