/* StepTwo code */
.step-one {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 80px;
  height: 100vh;
  background-color: var(--thired-color);
}

.step-one > h1 {
  text-align: center;
}

.step-one .container {
  margin-top: 70px;
  position: relative;
  padding-top: 40px;
}

.step-one .image {
  margin: 0rem 8rem 0rem 8rem;
  position: absolute;
  bottom: -20rem;
  right: -8rem;
  height: 461px;
  width: 80vw;
}

.step-one .image img {
  background-size: contain;
  width: 277px;
}

.step-one .image::after {
  content: "";
  position: absolute;
  bottom: 150px;
  left: 0px;
  width: 410px;
  height: 1px;
  background-color: #333030;
}
.step-one .text {
  margin: 0rem 8rem 0rem 8rem;
  width: 38rem;
  text-align: end;
  position: absolute;
  top: 0;
  right: 0;
}
.step-one .text h1 {
  direction: ltr;
  color: #333030;
  font-size: 32px;
}
.step-one .text p {
  direction: ltr;
  color: #333030;
  font-size: 24px;
  padding-bottom: 10px;
}

.parent {
  position: relative;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  text-align: start;
  position: absolute;
  top: -8rem;
  bottom: 0;
  left: 40rem;
  right: 0;
  margin: auto;
}

.child p {
  font-size: 1.3vw;
}

@media (max-width: 1285px) {
  .parent {
    position: relative;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .step-one .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .child p {
    font-size: 4vw;
  }
  .step-one .image {
    display: none;
  }
  .step-one .image::after {
    display: none;
  }
}
