.fullContainer {
  background-color: var(--main-color);
  padding-top: 20px;
  color: white;
  font-family: "Noto Kufi Arabic";
  text-align: center;
}

.info-head {
  height: 18rem;
  display: flex;
  flex-direction: row;
  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.image-bg-circle {
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.info-text-container {
  padding-right: 2rem;
  flex-grow: 1;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.options-container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 13rem;
}

.options-icon {
}

.submit {
  border: 0;
  border-radius: 91px;
  background: white;
  width: 10rem;
  text-align: center;
  height: 35px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #000;
  cursor: pointer;
}

.submit:hover {
  background-color: #f1f0f0;
}

.other-info {
  margin-left: 5rem;
  margin-right: 5rem;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.other-info p {
  font-size: 20px;
  width: 100%;
}

.info-title {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 950px) {
  .info-head {
    height: 30rem;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .image-bg-circle {
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    border-radius: 50%;
  }

  .icon {
    width: 7rem;
  }

  .info-text-container {
    padding: 0;
    height: 50%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-text-container h3 {
    line-height: 2rem;
    font-size: 18px;
  }

  .options-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .other-info {
    margin-left: 1rem;
    margin-right: 1rem;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .other-info p {
    font-size: 16px;
    width: 100%;
  }

  .info-title {
    font-size: 28px;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center;
  }
}

.custom-modal {
  position: absolute;
  width: 90vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-modal h2 {
  margin-top: 0;
}

.custom-modal input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-modal button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-modal button:hover {
  background-color: var(--second-color);
}
