* {
  font-family: "Noto Kufi Arabic", sans-serif;
  box-sizing: border-box;

}

body {
  background: #F8EAD8;
  
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  direction: rtl;
}







.forgetInput {
  border-radius: 8px;
  border: 1px solid #a7727d;
  outline: 0;
  height: 1.8rem;
  direction: rtl;
  width: 100%;
  padding: 8px;
}


