.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-container {
  width: 18rem;
  margin: 5rem 2rem 2rem 2rem;
}

.input-container {
  width: 18rem;
}

.title {
    width: 18rem;
    color: #000;
    font-weight: 700;
    font-size: 32px;
    line-height: 75px;
    text-align: center;
  }

.input-label {
  text-align: end;
  display: block;
  font-weight: 600;
  font-size: 15px;
  line-height: 40px;
  color: #595959;
}

.input {
  border-radius: 8px;
  border: 1px solid #a7727d;
  outline: 0;
  height: 1.8rem;
  direction: rtl;
  width: 100%;
  padding: 8px;
}

.image {
  text-align: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2rem;
}

.image::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 30px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.submit {
  border: 0;
  border-radius: 91px;
  background: #a7727d;
  width: 150px;
  text-align: center;
  height: 35px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
}

.submit:hover {
  background-color: #ba6d7b;
}

.input-container {
  text-align: right;
}
