.container
{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}

.title
{
    color: #000;
    font-weight: 700;
    font-size: 40px;
    line-height: 75px;
    text-align: center;
}

.image
{

    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
}

.image::after
{
    content: '';
    position: absolute;
    bottom: 6.3rem;
    left: 30px;
    right: 0;
    width: 80%;
    height: 0.8px;
    background-color: #000;
}

.submit
{
    border: 0;
    border-radius: 91px;
    background: #A7727D;
    width: 150px;
    text-align: center;
    height: 35px;
    margin-top: 20px;
    color: #FFF;
    cursor: pointer;
}

.submit:hover
{
    background-color: #ba6d7b;
}

.input-container
{
    text-align: right;
}

.input-label
{
    display: block;
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    margin-top: 22px;

}

.input
{
    border-radius: 8px;
    border: 1px solid #A7727D;
    outline: 0;
    height: 1.8rem;
    direction: rtl;
    width: 100%;
    padding: 8px;
}